name: Gradle CI

on: workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: Install Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Build using Gradle
        run: gradle build --no-daemon
        working-directory: gradle-demo
