name: Python Flask CI

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: pip install -r requirements.txt
        working-directory: python-flask-app

      - name: Run basic test
        run: python -m py_compile app.py
        working-directory: python-flask-app

      - name: Build Docker image
        run: docker build -t flask-app .
        working-directory: python-flask-app
